@page "/brands"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SustainabilityWebApp.Models
@using SustainabilityWebApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<SustainabilityWebApp.Data.SustainabilityWebAppContext> DbFactory
@attribute [Authorize(Policy = "OnlyMe")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>
<div class="page-container">
<div>
    <input type="search" @bind="titleFilter" @bind:event="oninput" />
</div>

<p>
    <a href="brands/create">Create New</a>
</p>

<div>
    <QuickGrid Class="table-wrapper" Items="FilteredBrands" Pagination="pagination">
        <PropertyColumn Property="brand => brand.Name" Sortable="true" />
        <PropertyColumn Property="brand => brand.PlanetSustainabilityRate" Title="Founded Date" />
        <PropertyColumn Property="brand => brand.PeopleRate" />
        <PropertyColumn Property="brand => brand.AnimalCrueltyRate" Title="Average Price" />
        <PropertyColumn Property="brand => brand.Rated" />
        <PropertyColumn Property="brand => brand.SmileyFace" />
        <PropertyColumn Property="brand => brand.PricingRate" Title="Average Price" />
        <PropertyColumn Property="brand => brand.CountryOfOrigin" />
        
        <TemplateColumn Title="Logo" Context="brand">
            @if (!string.IsNullOrWhiteSpace(brand.LogoUrl))
            {
                <img src="@brand.LogoUrl" alt="@brand.Name" class="brand-logo" />
            }
        </TemplateColumn>

        <TemplateColumn Context="brand">
            <a href="@($"brands/edit?id={brand.Id}")">Edit</a> |
            <a href="@($"brands/details?id={brand.Id}")">Details</a> |
            <a href="@($"brands/delete?id={brand.Id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
</div>

<Paginator State="pagination" />

</div>
@code {
    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    private SustainabilityWebAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();

    //[SupplyParameterFromQuery]
    // private string? NameFilter { get; set; }

    //private IQueryable<Brand> FilteredBrands =>
    // context.Brand.Where(m => m.Name!.Contains(NameFilter ?? string.Empty));

    private string titleFilter = string.Empty;

    private IQueryable<Brand> FilteredBrands =>
        context.Brand.Where(m => m.Name!.Contains(titleFilter));
}